window {
  //background: #282828;
  background: #14161b;
  color: #ebdbb2; //text color
  font-size: 14px;

  & > * {
    margin: 0px;
  }
  //font-family: "Terminus (TTF)";
}

.tray menu {
	border-radius: 10px;
	padding: 5px 0px;

	background-color: rgba(0, 0, 0, 0.8);

	>menuitem {
		padding: 0px 5px;

		&:disabled label {
			color: gray;
		}

		&:hover {
			background-color: #0e4679;
		}
	}

	separator {
		background-color: #222222;
		padding-top: 1px;

		&:last-child {
			padding: unset;
		}
    }
}




// workspace-focused, workspace-occupied, workspace-empty


.workspace-empty {
  //background: #14161b; //background color
  background: #2c2e33; //background color
  color: #ffffff; //text color
  //font-weight: bold;
  border-color: #14161b; //border color
}

.workspace-occupied {
  background: #2c2e33; //background color
  color: #ffffff; //text color
  //font-weight: bold;
  //border-color: #007373; //border color
  //border-color: #00ff00; //border color
  border-color: #14161b; //border color
}


.workspace-focused {
  //background: #b3f6c0; //background color
  //background: #77bc2c; //background color
  background: #007373; //background color
  color: #ffffff; //text color
  //font-weight: bold;
  //border-color: #b3f6c0; //border color
  //border-color: #1f4555; //border color
  border-color: #007373; //border color
}



